@import "opensans";
@import "material-icons";
@import "material";

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4 {
    font-weight: 700;
}

#map {
    width: 100vw;
    height: 100vh;
}

.str-close {
    float: right;
    cursor: pointer;
}

.str-info {
    position: absolute;
    background: rgba(0, 0, 0, .8);
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    display: none;
    top: 0 !important;
    left: 0 !important;

    .x-content {
        position: relative;
        margin: 15% auto auto auto;
        width: 320px;
    }
}

.str-list {
    list-style: none;
    padding: 0;
    li {
        cursor: pointer;
        padding: 5px;
        border-bottom: 1px solid #ccc;

        &:hover {
            background-color: #EFEFEF;

        }
    }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 598px) {
    .mdl-layout-title {
        font-size: 14px;
    }
    .mdl-card {
        width: 320px;
    }
    .mdl-js-button {
        max-width: 45px;
        font-size: 13px;

    }
}