html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4 {
    font-weight: 700;
}

.map {
    width: 100vw;
    height: 100vh;
}

.str-list {
    list-style: none;
    padding: 0;
    
}
.str-list li {
        cursor: pointer;
        padding: 5px;
        border-bottom: 1px solid #ccc;
}
.str-list li:hover {
            background-color: #EFEFEF;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 598px) {
    .mdl-layout-title {
        font-size: 14px;
    }
    .mdl-card {
        width: 320px;
    }
    .mdl-js-button {
        max-width: 45px;
        font-size: 13px;

    }
}